    <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                {{#each blogposts}}
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title"><a href="/post/{{_id}}">{{title}}</a></p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded">{{date}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                           {{body}}
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="card article">
                    <div class="card-content">
                        <div class="content article-body">
                        No post has been added.
                        </div>
                    </div>
                </div>
                {{/each}}
                <!-- END ARTICLE -->
            </div>
        </section>
  